*.iml
*.pyc
*.tex~
*.aux
*.synctex.gz
*.log
*.fls
*.xdv
*.sublime-workspace
*old*
panchangam/data/*.log
pdf/*19*.pdf
pdf/*200*
ics/*-19*.ics
ics/*-200*.ics
ics/*-201[0-6]*.ics
precomputed/*-19*.pickle
precomputed/*-200*.pickle
precomputed/*-201[0-6].pickle
tex/data/*-19*.tex
tex/data/*-200*.tex
panchangam/debug_logs/
*.log
*.fdb_latexmk
panchangam/event_rules.json
panchangam/kanchi_aradhana_prathama.json
