*.iml
*.pyc
*.tex~
*.aux
*.synctex.gz
*.log
*.fls
*.xdv
*.sublime-workspace
*old*
*.log
*.fdb_latexmk
panchangam/event_rules.json
panchangam/debug_logs/TODO.txt
pdf/daily-cal-2019-Singapore-deva.pdf
tex/data/daily-cal-2019-Singapore-deva.tex
pdf/daily-cal-2019-BrahmaDesham-deva.pdf
pdf/daily-cal-2019-Kashi-deva.pdf
pdf/daily-cal-2019-Prayagraj-deva.pdf
tex/data/daily-cal-2019-BrahmaDesham-deva.tex
tex/data/daily-cal-2019-Kashi-deva.tex
tex/data/daily-cal-2019-Prayagraj-deva.tex
bin/upd_1819.sh
